name: Test

on:
  push:
    branches:
      -'Lesson8_Allure'
jobs:
  test:
    name: Test
    runs-on: windows-11
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Install dependencies
        run: |
          pytest --alluredir=allures
